NEXT_PUBLIC_SUPABASE_URL=https://tbfcxawbygftalalhvlf.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InRiZmN4YXdieWdmdGFsYWxodmxmIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzYyNTA1NjcsImV4cCI6MjA5MTgyNjU2N30.REhIuOmOHJHxXowe0z754lYYXU539t-JsQ2Ymbnw1VI
SUPABASE_SERVICE_ROLE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InRiZmN4YXdieWdmdGFsYWxodmxmIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3NjI1MDU2NywiZXhwIjoyMDkxODI2NTY3fQ.iJUbjt_MytZK_rnSfZgP6xkRJIajwzAsTwv1adZUu3w
